@{
    ViewData["Title"] = "pokemon";
}
<section class="pt-5 container">
			<div class="row">
				<div class="col text-center">
					<a href="#" class="btn btn-lg btn-outline-dark">001 - Bulbasaur</a>
				</div>
				<div class="col text-center">
					<h1 class="fs-1">Ivysaur <span class="fs-2 text-secondary">Nº 002</span></h1>
				</div>
				<div class="col text-center">
					<a href="#" class="btn btn-lg btn-outline-dark">003 - Venusaur</a>
				</div>
			</div>

			<div class="row mt-3">
				<div class="col-lg-5 p-0">
					<img class="img-fluid cursor-pointer" src="img/pokemons/002.png" alt="Ivysaur">
				</div>
				<div class="col-lg-7 fs-5 mt-4">
					<p class="mb-3"><strong>Descrição:</strong> Há um broto nas costas desse Pokémon. 
						Para suportar seu peso, as pernas e o tronco de Ivysaur ficam grossos e fortes.
						Se começar a passar mais tempo deitado sob a luz do sol,
						é um sinal de que o broto florescerá em uma flor grande em breve.</p>
					<p class="mb-3"><strong>Espécie:</strong> Seed</p>
					<p class="mb-3"><strong>Altura:</strong> 1 mts</p>
					<p class="mb-3"><strong>Peso:</strong> 13 kgs</p>
					<p class="fw-bold">Tipo</p>
					<div class="btn-group">
						<a href="#" class="btn btn-lg text-white" style="background-color:#7c5">Planta</a>
                        <a href="#" class="btn btn-lg text-white" style="background-color:#a59">Venenoso</a>
					</div>
				</div>
			</div>
		</section>

    </main>

    <footer class="text-muted py-3 ">
        <div class="container">
            <p class="float-end">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-arrow-up-circle-fill text-danger" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
                    </svg>
                </a>
            </p>
            <p class="mb-1">Pokédex - Versão Gallo & Márcio</p>
            <p class="mb-0">Projeto Integrador desenvolvido para as aulas de Interfaces WEB I e Sistemas Web I</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <!-- <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script> -->
</body>

</html>